<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MyStore" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar">
    <% if user_signed_in? %>
      <%= button_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "nav-item btn-logout" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-item" %>
    <% end %>
    <%= link_to "Home", root_path, class: "nav-item" %>
  </nav>
  <div class="header-nav__withSearch">
        <input type="text" placeholder="Bạn muốn tìm gì?">
      </div>
  <main>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</body>
<footer class="minimal-footer">
  <div class="footer-content">
    <div>
      <h2>My Website</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
    <div>
      <h2>About Me</h2>
      <ul>
        <li><a href="#">My Story</a></li>
        <li><a href="#">My Team</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div>
      <h2>Follow Me</h2>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div>
      <h2>Support</h2>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 My Company. All rights reserved. <a href="#">Privacy Policy</a>
  </div>
</footer>
</html>
